@use "../abstracts/variables" as *;

body {
  &.st-hsxxx-layout {
    display: grid;
    grid-template-areas:
      "header header"
      "sidemenu main";
    grid-template-columns: 240px minmax(0, 1fr);
    grid-template-rows: 64px minmax(0, 1fr);
    min-height: 100vh;
    
    header {
      background-color: $background-100;
      grid-area: header;
    }
    
    aside {
      background-color: $background-100;
      grid-area: sidemenu;
      min-width: 0;
    }
    
    main {
      background-color: $background-500;
      grid-area: main;
      min-width: 0;
      padding: 16px;
    }
  }
}