@use "../abstracts/variables" as *;

.st-header-wrapper {
  align-items: center;
  display: flex;
  height: 64px;
  padding: 0 16px;
  width: 100%;
  
  .logo-wrapper {
    flex-shrink: 0;
    
    .logo {
      color: $neutral-900;
      text-decoration: none;
    }
  }
  
  .avatar-wrapper {
    align-items: center;
    background-color: $neutral-200;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
<<<<<<< HEAD
    margin-left: auto;
    width: 40px;
  }
}
=======

    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 64px;
      background: #11131A;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
      user-select: none;
      text-decoration: none;

      &:focus-visible {
        outline: 3px solid $primary-light;
        outline-offset: 3px;
      }
    }
  }
}

@media(max-width:992px) {
  .logo {
    font-size: 42px;
  }

  .avatar {
    width: 56px;
    height: 56px;
  }
}

@media(max-width:768px) {
  .header-wrapper {
    padding: 0 12px;

    .logo {
      font-size: 36px;
    }

    .avatar {
      width: 48px;
      height: 48px;
    }
  }
}
>>>>>>> d7d2218 (WIP: save profile and project changes)
