@use "../abstracts/variables" as *;

.st-header-wrapper {
  align-items: center;
  display: flex;
  height: 64px;
  padding: 0 16px;
  width: 100%;
  
  .logo-wrapper {
    flex-shrink: 0;
    
    .logo {
      color: $neutral-900;
      text-decoration: none;
    }
  }
  
  .avatar-wrapper {
    align-items: center;
    background-color: $neutral-200;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    margin-left: auto;
    width: 40px;
  }
}
